mixin text-input(title, hint)
    .text-input
        form
            h3= title
            input(type="text", name= title, class = "text-input__input", placeholder= hint)

mixin dropdown(title)
    .dropdown
        h3= title 
        select(name="select", class = "text-input__input")

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Form Elements
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="./styles.scss")
        link(rel="stylesheet", href="./fonts.scss")
    body
        div.form-grid
            +text-input("Text Field", "Email")
            +text-input("Text Field", "This is pretty awesome")
            +dropdown("Dropdown")
            +text-input("Masked Text Field", "ДД.ММ.ГГГГ")
        
        div.select-arrow expand_more