doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Index
        link(rel="stylesheet", href="./styles.scss")
        link(rel="stylesheet", href="./fonts.scss")
    body
        h1 UI Kit
        p
            a(href="./colors_and_type.pug") Colors & Type
        p
            a(href="./form_elements.pug") Form Elements
        p
            a(href="./cards.pug") Cards
        p
            a(href="./headers_and_footers.pug") Headers & Footers