$white: #FFFFFF;
$dark: #1F2041;
$dark75 : #1F2041C0;
$dark50 : #1F204180;
$dark25: #1F204140;
$dark5  : #1F20410D;
$green: #BC9CFF;
$purple: #6FCF97; 

body {
    box-sizing: border-box;
    padding: 22px;
    // padding: 137px 142px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $dark;
    background: $white;
}

h1 {
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

h2 {
    font-family: "Quicksand";
    font-weight: bold;
    font-size: 19px;
    line-height: 24px;
}

h3 {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin: 4px 0px;
}

.cnt-column {
    padding-left: 120px;
    padding-top: 60px;
    float: left;
    width: 50%;
}

.cnt-clmn-r {
    padding-left: 320px;
    padding-top: 47px;
    float: left;
    width: 50%;
}

.color-flex {
    display: flex;
    margin-bottom: 20px;
}

.color-rect {
    width: 70px;
    height: 70px;
    left: 150px;
    top: 145px;
    border-radius: 6px;
    margin-right: 40px; 
}

.color-description {
    display: flex;
    flex-direction: column;
}

.hint {
    text-align: right;
    margin-right: 40px;
    font-family: "Montserrat";
    font-weight: normal;
    color: $dark25;
}

.text-input__input {
    background: $white;
    color: $dark50;
    border: 1px solid $dark25;
    box-sizing: border-box;
    border-radius: 4px;
    width: 320px;
    height: 44px;
    padding-left: 15px;
}

.text-input__input::placeholder {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $dark25
}

.text-input__input:hover {
    background: $white;
    border: 1px solid $dark50;
    border-radius: 4px;
}

.text-input__input:focus {
    background: $white;
    border: 1px solid $dark50;
    border-radius: 4px;
}

.form-grid {
    display: grid;
}

*:focus {
    outline: none;
}

select {
    display: flex;
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
}

.select-arrow {
    background: $dark25;
    position: relative;
    right: 44px;
    display: flex;
    width: 44px;
    height: 44px;
    font-family: Material Icons;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    color: $dark50;
    // transform: rotate(-180deg);
}

.horizontal {
    display: flex;
    flex-direction: row;
    margin: 0px;
}